


.divtreino{
   gap: 30px;
 display: flex;
   width: 830px;
   height: 230px;
   background-color: #9496a4;
   border-radius: 8px;

}

#espaçamento3{
    height: 10px;
}

@font-face{
    font-family: "dispaly";
    src: url(Playfair_Display.zip);
}

.boxtreino2{
    display: flex;
   color:#7ed957;
    margin-left: 270px;
    font-size: 60px;
    font-family: "display";
    height: 100px;

}

.boxtreino{

    margin-top: 40px;
   gap: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
}


#adicionarpesooo{
    border-radius: 6px;
    font-family: "display";
    height: 30px;
    width: 130px;
    background-color: #2a2c40;
    color: white;
    border: none;       
    outline: none;      
    box-shadow: none;
    cursor: pointer;
    font-size: 20px;

}

.divaddpeso{
    margin-top: 30px;
    display: flex;
    flex-direction: column;  
  align-items: flex-start;
   
}

.divtectotreino{
    width: 400px;
    margin-top: 10px;
     margin-left: 40px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.titulotreino{
    color: #7ed957;
   font-size: 20px;
}

.divimgtreino{
    height: 100%;
    background-color:#2a2c40 ;
    width: 230px;
    justify-content: flex-start;
    display: flex;
    border-radius: 8px;
}


.imgtreino{
    height: 100%;
    width: 100%;
     border-radius: 8px;
}




#bntverificar{
    background-color: #9496a4;
    border: none;       
    outline: none;      
    box-shadow: none;
    cursor: pointer;
    margin-bottom: 100px;
   transition: 0.4;
   height: 35px;
   width: 35px;
   margin-top: 10px;
   margin-left: 40px;
 

  

}

#bntverificar:hover{
   transform: translateY(-2px); 

}

#imgverificar{
    height: 35px;
    width: 35px;
}




