.maisnutri{
    height: 40px;
    width: 40px;
}

.buttonadd{
    height: 45px;
    width: 45px;
    border-radius: 70px;
     border: none;       
    outline: none;      
    box-shadow: none;
    cursor: pointer;
    background-color:  #7ed957;
    display: flex;
    align-items: center;
    justify-content: center;
     position: fixed;
     transition: 0.3s;
       transition: 0.3 color;
       transform: 0,2;
   
}

.boxbuttonadd{
   
    position: fixed;
      margin-left: 95%;
      margin-top: 8%;
 
}

.buttonadd:hover{
     background-color: #3a9b4f;
      transform: translateY(-2px)

}